@charset 'utf-8';

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
$max-container-width: $screen-xl;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
* {
	box-sizing: border-box;
}
html {
	line-height: 1.15;	
	-webkit-text-size-adjust: 100%;	
}
body {
    color: #66615b;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFC;
}
html, body {
    height: 100%;
    overflow: hidden;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;	
	height: 0;	
	overflow: visible;	
}
pre {
	font-family: monospace, monospace;	
	font-size: 1em;	
}
a {
    text-decoration: underline;
	background-color: transparent;
    &:hover {
        text-decoration: none;
    }
}
abbr[title] {
	border-bottom: none;	
	text-decoration: underline;	
	text-decoration: underline dotted;	
}
b,strong {
	font-weight: bold;
}
code,kbd,samp {
	font-family: monospace, monospace;	
	font-size: 1em;	
}
small {
	font-size: 80%;
}
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,input,optgroup,select,textarea {
	font-family: inherit;	
	font-size: 100%;	
	line-height: 1.15;	
	margin: 0;	
}
button,input {	
	overflow: visible;
}
button,select {	
	text-transform: none;
}
button,[type='button'],[type='reset'],[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;	
	color: inherit;	
	display: table;	
	max-width: 100%;	
	padding: 0;	
	white-space: normal;	
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],[type='radio'] {
	box-sizing: border-box;	
	padding: 0;	
}
[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;	
	outline-offset: -2px;	
}
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;	
	font: inherit;	
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form {
    position: relative;
	&__create-acc {
		display: none;
	}
    &__row {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 16px;
		&.form--links {
			padding-bottom: 28px;
			flex-direction: row;
			justify-content: space-between;
			span {
				cursor: pointer;
				color: #666;
				text-decoration: underline;
				&:hover {
					color: #73777e;
					text-decoration: none;
				}
			}
		}
    }

    &__label {
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
        font-weight: 500;
    }

    &__input,
    &__textarea {
        display: block;
        width: 100%;
        padding: 10px 16px;
        background: #F3F2EE;
        border: 1px solid #EDEBE8;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 400;

        &:focus {
            border-color: #cccccc;;
        }

        &::placeholder {
            color: #E0DFDB;
            font-weight: 400;
        }

        &[aria-invalid="true"] {
            border-color: #FC6464;

            &::placeholder {
                color: #FC6464;
            }

            & + .form__label {
                color: #FC6464;
            }
        }
    }

    &__textarea {
        outline: none;
        min-height: 100px;
        resize: none;
    }

    &__button {
        display: block;
        width: 100%;
        padding: 12px 15px;
        border: none;
        border-radius: 2px;
        background: linear-gradient(15.95deg, rgba(248, 130, 45, 0.9) 7.82%, rgba(248, 191, 45, 0.9) 92.9%);
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        transition: all .2s;
		cursor: pointer;
        border-radius: 9px;
        background: linear-gradient(89.46deg, #FF3948 -44.58%, #FFAD37 158.4%);
        font-size: 14px;
        font-weight: normal;
        padding-bottom: 13px;
        &:hover {
          box-shadow: 0px 2px 15px 0px rgba(255, 112, 65, 0.5);
        }
        &:active {
          background: linear-gradient(90.6deg, #FF0013 -6.52%, #FF9600 113.08%);
        }
        &--entery {
          margin-top: 1px;
        }
    }

    &__forgot-password {
        a {
            display: inline-block;
            color: #A6A6A6;
            border-bottom: 1px solid #A6A6A6;
            line-height: 1.2;
            font-family: inherit;

            &:hover {
                border-color: transparent;
            }
        }
    }
}
.el-input {
	&__inner {
		-webkit-appearance: none;
		background-color: #fff;
		background-image: none;
		border-radius: 4px;
		border: 1px solid #dcdfe6;
		box-sizing: border-box;
		color: #606266;
		display: inline-block;
		font-size: inherit;
		height: 40px;
		line-height: 40px;
		outline: 0;
		padding: 0 15px;
		transition: border-color .2s cubic-bezier(.645,.045,.355,1);
		width: 100%;
		&[aria-invalid="true"] {
			border-color: #FC6464;
			&::placeholder {
				color: #FC6464;
			}
			& + .form__label {
				color: #FC6464;
			}
		}

        &::placeholder {
            color: #d2c9cc;
        }
	}
}


.form__create-acc {
    font-size: 16px;
    color: #666;
  }
.loginForm {
.form--links {
	text-align: center;
	margin-top: -4px;
	flex-direction: column;
	padding-bottom: 28px;

	@media all and (min-width: $screen-sm) {
	flex-direction: row;
	justify-content: space-between;
	.form__get-account {
		margin-bottom: 0;
	}
	}
	.form__get-account {
	margin-bottom: 13px;
	padding-top: 0;
	}
}
.el-input__inner:hover {
	border-color: rgba(146, 145, 153, 1);
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
	border-color: #ff3948;
}
.form__forgot-password, .form__get-account {
	a {
	text-decoration: underline;
	border: none;
	&:hover {
		text-decoration: underline;
	}
	}
}
.cancelForgot {
	margin-top: 15px;
	color: #ACACAC;
	display: block;
	text-align: center;
	cursor: pointer;
	a {
		color: #acacac;
	}
}
.Password {
	&__badge {
	box-sizing: content-box;
	width: auto;
	}
	&__strength-meter {
	margin-bottom: 5px;
	}
}
.form {
	&__button {
	border-radius: 9px;
	background: linear-gradient(89.46deg, #FF3948 -44.58%, #FFAD37 158.4%);
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 13px;
	&:hover {
		box-shadow: 0px 2px 15px 0px rgba(255, 112, 65, 0.5);
	}
	&:active {
		background: linear-gradient(90.6deg, #FF0013 -6.52%, #FF9600 113.08%);
	}
	&--entery {
		margin-top: 1px;
	}
	}
}
}
@keyframes loading-rotate {
	100% {transform: rotate(1turn)}
}
@keyframes loading-dash {
	0% {stroke-dasharray: 1,200; stroke-dashoffset: 0;}
	50% {stroke-dasharray: 90,150; stroke-dashoffset: -40px;}
	100% {stroke-dasharray: 90,150; stroke-dashoffset: -120px;}
}
@keyframes hide-loading {
	0% {opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 999999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	transition: opacity .3s;
	opacity: 1;
}
.loader.isHide {
	animation: hide-loading .3s linear forwards;
}
.loader svg {
	height: 42px;
	width: 42px;
	animation: loading-rotate 2s linear infinite;
}
.loader svg  circle{
	stroke-dasharray: 90,150;
	stroke-dashoffset: 0;
	stroke-width: 2;
	stroke: #409eff;
	stroke-linecap: round;
	animation: loading-dash 1.5s ease-in-out infinite;
}
.app {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
	&__main {
		flex: 1;
		display: flex;
		overflow: auto;
		@media all and (min-width: $screen-xl) {
			margin-right: -10px;
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: rgba(0, 0, 0, 0);
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(0, 0, 0, 0);
			}
			&:hover {
				&::-webkit-scrollbar-track {
					background: rgba(0, 0, 0, .05);
				}
				&::-webkit-scrollbar-thumb {
					background: rgba(0, 0, 0, .2);
				}
			}
		}
	}
}
.universallogin-page{
	&--wrapper {
	  display:block !important;
	  width: 100%;
	  .bz-scrollbar__content--wrapper {
		display: flex;
		flex-direction: column;
	  }
	  @media only screen and (min-width: $screen-md) {
		display: flex;
	  }
	}
   flex: 1;
	@media only screen and (min-width: $screen-md) {
	  display: flex;
	  overflow: hidden;
	  min-height: 100%;
	}
   position: relative;
 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 
   .preheader{
	 .container{max-width: 1200px;}
   }
 
   &__container {
	 display: grid;
	 grid-template-rows: auto auto;
	 min-height: 100%;
	 display: flex;
	 flex-direction: column;
 
	 @media only screen and (min-width: $screen-md){
	   flex: 1;
	   // grid-template-rows: 75px auto 97px;
	   grid-template-rows: auto 97px;
	 }
   }
 
   &__substrate-mobile {
	 position: absolute;
	 top: 0;
	 right: 0;
	 height: 100%;
	 width: auto;
	 min-width: 100%;
 
	 @media only screen and (min-width: $screen-md) {
	   display: none;
	 }
   }
 
   &__substrate-desktop {
	 display: none;
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 opacity: .7;
 
	 @media only screen and (min-width: $screen-md) {
	   display: block;
	 }
   }
 
   h1, h2, h3 {
	 font-family: inherit;
   }
 
   a {
	 font-family: inherit;
 
	 &:focus {
	   outline: none;
	 }
   }
 }
 .universallogin-page-content {
	overflow: auto;
	display: flex;
	align-items: center;
	justify-self: center;
	flex-grow: 1;
	&__container {
	  position: relative;
	  width: 100%;
	  max-width: $max-container-width;
	  z-index: 0;
	  display: grid;
	  padding: 25px 25px;
	  grid-template-columns: minmax(270px, 430px);
	  justify-content: center;
	  //grid-row-gap: 50px;
	  // grid-template-areas:
	  // "form"
	  // "slider";
  
	  &.universallogin-page-content_one_block {
		grid-template-columns: minmax(280px, 430px);
		grid-column-gap: 0;
		grid-row-gap: 0;
	  }
  
	  @media only screen and (min-width: $screen-sm) {
		//grid-row-gap: 30px;
	  }
  
	  @media only screen and (min-width: $screen-md) {
		height: 100%;
		grid-template-columns: minmax(280px, 430px);
		align-items: center;
		justify-content: center;
		grid-template-areas:
		"slider form";
		// grid-column-gap: 30px;
	  }
  
	  @media only screen and (min-width: $screen-lg) {
		margin: 0 auto;
		padding-top: 25px;
		padding-bottom: 25px;
	  }
	}
	&__alert {
	  background: #CEF2DB;
	  padding: 25px 60px;
	  font-size: 14px;
	  color: #15BF51;
	  margin-bottom: 10px;
	  border-radius: 4px;
	  &.error{
		background: #feedc2;
		box-shadow: 0 14px 24px rgba(0,0,0,.15);
		line-height: 1.3;
		color: #f3af37;
	  }
	}
  }
  .universallogin-page-form {
	grid-area: form;
	background: #fff;
	border-radius: 4px;
	border-radius: 10px;
	box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.15);
	
	.form__fieldset-login, .form__fieldset-forgotpass, .form__fieldset-code, .form__fieldset-enterpass {
		display: none;
	}
	&.form--showlogin {
		.form__fieldset-login {
			display: block;
		}
		.universallogin-page-form__disablenotif {
			display: none;
		}
	}
	&.form--forgotpass {
		.form__fieldset-forgotpass, .universallogin-page-form__disablenotif {
			display: block;
		}
		.universallogin-page-form__title, .universallogin-page-form__enterby {
			display: none;
		}
	}
	&.form--newaccount {
		.form__create-acc, .universallogin-page-form__disablenotif {
			display: block;
		}
		.universallogin-page-form__title, .universallogin-page-form__enterby {
			display: none;
		}
	}
  
	&__form-container {
	  position: relative;
	}
  
	.form {
	  padding: 0 20px 20px 20px;
	  @media only screen and (min-width: $screen-sm){
		padding: 0 60px 51px 60px;
	  }
	}
  
	&__logo {
	  text-align: center;
	  border-bottom: 1px solid #F0F0F0;
	  padding: 36px 10px 32px;
	}
	&__title {
	  display: flex;
	  align-items: center;
	  white-space: nowrap;
	  font-size: 16px;
	  img {
		margin-left: 10px;
		margin-right: 10px;
	  }
	  span {
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		color: #616161;
		white-space: normal;
		max-width: 140px;
	  }
	}
  
	&__socials {
	  margin: 28px 0 0;
	}
  
	&__social {
	  cursor: pointer;
	  display: flex;
	  align-items: center;
	  margin: 20px 0 14px;
	  .icon {
		margin-right: 15px;
		min-width: 46px;
		min-height: 46px;
		max-width: 46px;
		min-height: 46px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&.vk {
		  background-color: #4874ae;
		}
		&.tg {
		  background-color: #279DD4;
		}
		&.vb {
		  background-color: #8527B4;
		}
	  }
	  span {
		margin-right: auto;
		font-size: 16px;
	  }
	}
  
	&__legend {
	  padding: 30px 20px 25px 20px;
	  color: #2B2927;
	  font-size: 20px;
	  font-weight: 700;
  
	  @media only screen and (min-width: $screen-sm){
		padding: 27px 60px 23px 60px;
		font-size: 24px;
	  }
	}
  
	&__checktitle {
	  display: block;
	  margin: 21px 0 18px;
	  font-size: 14px;
	  font-weight: 500;
	  line-height: 16px;
	  color: rgba(144, 147, 153, 1);
	}
  
	&__error {
	  display: block;
	  width: 100%;
	  margin-top: -35px;
	  padding: 10px 20px;
	  border-radius: 2px;
	  background: #FF5656;
	  font-size: 12px;
	  font-weight: 400;
	  color: #fff;
  
	  @media only screen and (min-width: $screen-sm){
		margin-top: 0;
	  }
	}
	&__notification {
	  display: block;
	  width: 100%;
	  margin-top: -35px;
	  padding: 10px 20px;
	  border-radius: 2px;
	  background: #CEF2DB;
	  font-size: 12px;
	  font-weight: 400;
	  color: #15BF51;
  
	  @media only screen and (min-width: $screen-sm){
		margin-top: 0;
	  }
	}
  
	&__create-account {
	  padding: 18px 20px 19px 20px;
	  border-top: 1px solid #ECEAE8;
	  text-align: center;
  
	  @media only screen and (min-width: $screen-sm){
		padding: 23px 35px 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	}
  
	&__disablenotif {
	  font-size: 14px;
	  line-height: 16px;
	  color: rgba(144, 147, 153, 1);
	  cursor: pointer;
	  display: none;
	}
  
	&__enterby {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  text-decoration: none;
	  color: #666;
	  span {
		margin-right: 20px;
	  }
  
	  @media all and (min-width: $screen-sm) {
		margin: 0 20px 0 0;
	  }
	}
  
	&__create-account-link {
		display: inline-block;
		color: #ACACAC;
		border-bottom: 1px solid #ACACAC;
		line-height: 1.2;
		cursor: pointer;
		user-select: none;
  
		&:hover {
		  border-color: transparent;
		}
	}
  
	&__create-account-text {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  padding: 0 20px;
	  height: 100%;
	  z-index: 1;
	  background: #fff;
	  font-size: 21px;
	  font-weight: 700;
	  color: #A6A6A6;
  
	  @media only screen and (min-width: $screen-sm) {
		padding: 0 60px;
	  }
	}
  }
  
  /*
  * Футер
  */
  .universallogin-page-footer {
	position: relative;
	z-index: 1;
  
	&__wrapper {
	  @media only screen and (min-width: $screen-lg) {
		height: 100%;
		max-width: $max-container-width;
		margin: 0 auto;
		padding: 0 25px;
	  }
	}
  
	&__container{
	  display: flex;
	  // display: grid;
	  align-items: center;
	  flex-direction: column;
	  // grid-template-areas:
	  // "logo"
	  // "link-1"
	  // "logo-ldp";
	  border-top: 1px solid rgba(252, 252, 252, .2);
  
	  @media only screen and (min-width: $screen-md) {
		// grid-template-areas:
		// "link-1"
		// "logo . logo-ldp";
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	  }
  
	  @media only screen and (min-width: $screen-md) {
		// grid-template-areas:
		// "link-1 logo logo-ldp";
		.universallogin-page-footer-link {
		  margin: 0 auto;
		}
	  }
	}
  }
  
  /*
  * Лого в футере
  */
  .universallogin-page-footer-logo {
	grid-area: logo;
	display: block;
	padding: 25px;
  
	@media only screen and (min-width: $screen-md) {
	  min-width: 260px;
	}
  
	@media only screen and (min-width: $screen-lg) {
	  padding-left: 0;
	}
  }
  
  /*
  * Текстовый блок правого логотипа в футере
  */
  .universallogin-page-logo-ldp__text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  
  /*
  * Центральный текст в футере
  */
  .universallogin-page-footer-note {
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
  }
  
  
  /*
  * Ссылки в футере
  */
  
  .universallogin-page-footer-link {
	padding: 0 25px;
  
	@media only screen and (min-width: $screen-md){
	  // border-bottom: 1px solid rgba(252, 252, 252, .2);
	  padding: 25px 0;
	  margin-left: auto;
	  margin: auto;
	  border-bottom: none;
	}
  
	@media only screen and (min-width: $screen-lg) {
	  padding-left: 0;
	}
  
	//1-й линк
	&:nth-of-type(2){
	  grid-area: link-1;
	}
  
	//2-й линк
	&:nth-of-type(3){
	  grid-area: link-2;
	}
  
	//3-й линк
	&:nth-of-type(4){
	  grid-area: link-3;
	}
  
	&__title {
	  opacity: .5;
	  font-size: 10px;
	  color: #fff;
	  font-weight: 400;
	}
  
	&__link {
	  font-size: 21px;
	  font-weight: 700;
	  color: #fff;
	  line-height: 1;
  
	  &:hover {
		opacity: .8;
		color: #fff;
	  }
	}
  }
  
  /*
  * Лого LDP
  */
  .universallogin-page-logo-ldp {
	grid-area: logo-ldp;
	display: block;
	padding: 25px;
	text-decoration: none;
	// border-top: 1px solid rgba(252, 252, 252, .2);
  
	@media only screen and (min-width: $screen-sm) {
	  border-top: none;
	  min-width: 260px;
	}
  
	@media only screen and (min-width: $screen-md) {
	  justify-self: end;
	}
  
	@media only screen and (min-width: $screen-lg) {
	  padding-left: 0;
	  padding-right: 0;
	}
  
	&__container {
	  display: flex;
	}
  
	&__image {
	  margin-right: 13px;
	}
  
	&__text {
	  opacity: .5;
	  margin-bottom: 5px;
	  font-size: 10px;
	  color: #fff;
	  font-weight: 400;
	}
  }